@import url("https://fonts.googleapis.com/css2?family=Hahmlet:wght@300&display=swap");

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Hahmlet";
}
#boss {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
  background: rgba(255, 0, 0, 0.4);
}
#boss h1 {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 0 2vw;
  font-size: 5vw;
  font-weight: 900;
}
#boss img {
  width: 40vw;
  height: 30vw;
  border: 2px solid gold;
}

#foreground {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 5;
}
#background {
  background: no-repeat top/100vw url("./images/science.jpg");
  width: 100%;
  height: 100%;
  z-index: 0;
}
.item {
  position: fixed;
  border: 2px solid yellow;
  border-radius: 7px;
}
.puzzle {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background: white;
  border: 5px solid gold;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  align-items: center;
  text-align: center;
}
.puzzle button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 6vw;
  height: 3vw;
  border: 1px solid black;
  border-radius: 1.5vw;
  background: rgba(255, 0, 0, 0.5);
  color: white;
  font-size: 2vw;
  font-weight: 900;
  font-family: "Hahmlet";
  text-align: center;
  cursor: pointer;
}
.puzzle h1 {
  font-size: 4vw;
}
.puzzle span {
  font-size: 2vw;
}
