@import url("https://fonts.googleapis.com/css2?family=Hahmlet:wght@300&display=swap");

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Hahmlet";
  background: black;
  cursor: default;
}

audio {
  display: none;
}

body > img {
  display: none;
}

#clear .popup,
#lose .popup {
  z-index: 50;
}

#loading {
  position: fixed;
  background: black;
  width: 100%;
  height: 100%;
  z-index: 100;
}

#timer {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 10vh;
  text-align: center;
  color: white;
  text-shadow: 0 0 10px black;
  font-size: 5vh;
  font-weight: 900;
  z-index: 10;
}

#inventory {
  background: rgba(70, 149, 144, 0.6);
  position: fixed;
  width: 80vh;
  height: 12vh;
  border-radius: 2vh 2vh 0 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2vh;
  z-index: 8;
}
#inventory > img {
  width: 10vh;
  height: 10vh;
  border-radius: 2vh;
  cursor: pointer;
}

#battle {
  background: rgba(255, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 7;
}

#enemy {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2vh 0;
}
#enemy > img {
  height: 40vh;
  border: 3px solid gold;
  border-radius: 2vh;
}
#enemy .name {
  color: white;
  text-shadow: 0 0 4px black;
  font-size: 4vh;
  font-weight: bold;
}
.stats {
  display: flex;
  width: 50vh;
  column-gap: 10px;
  justify-content: space-evenly;
}
.atk::before {
  content: "공격력";
  color: white;
  display: inline-block;
  font-size: 2vh;
  margin-right: 5px;
}
.hp::before {
  content: "　체력";
  color: white;
  display: inline-block;
  font-size: 2vh;
  margin-right: 5px;
}
.atk,
.hp {
  color: white;
  text-shadow: 0 0 5px black;
  font-size: 4vh;
  font-weight: bold;
}

#me {
  flex: 0 0 25vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  row-gap: 2vh;
}

/* #region foreground */
#foreground {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 9;
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background: white;
  border: 5px solid gold;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.popup button.exit {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 8vh;
  height: 5vh;
  border-radius: 2vh;
  border: 1px solid black;
  background: rgba(255, 0, 0, 0.5);
  color: white;
  font-size: 3vh;
  font-weight: 900;
  cursor: pointer;
}
.popup h1 {
  font-size: 5vh;
  margin: 0;
}
.popup span {
  font-size: 4vh;
}
.popup img {
  height: 40vh;
  border-radius: 4vh;
}
#buttons {
  display: flex;
  column-gap: 2vh;
}
.popup button.yes {
  background: skyblue;
  right: calc(50% + 10vh);
}
.popup button.no {
  background: darksalmon;
  left: calc(50% + 10vh);
}
/* #endregion */

.skills {
  display: flex;
  width: 100vh;
  justify-content: center;
}
#start,
.popup button.yes,
.popup button.no,
.popup button.battle,
.popup button.submit,
.popup input,
button.attack,
button.skill,
button.giveup {
  min-width: 22vh;
  height: 5vh;
  border-radius: 2vh;
  border: 1px solid black;
  margin: 0 3px;
  font-size: 3vh;
  font-weight: 900;
  cursor: pointer;
  text-align: center;
  font-family: "Hahmlet";
}
button.passive {
  min-width: 22vh;
  height: 5vh;
  border-radius: 1vh;
  border: 1px solid black;
  font-size: 3vh;
  font-weight: 900;
  text-align: center;
  font-family: "Hahmlet";
}
button.used {
  background: gray;
  cursor: default;
}
#enemy button.skill {
  cursor: default;
}

.skill abbr::before {
  content: "스킬: ";
}
.passive abbr::before {
  content: "패시브: ";
}
abbr {
  text-decoration: none;
}

/* #region background */
#background {
  background: no-repeat top/auto 100% black;
  background-image: url("./images/mainroom/front/main.jpg");
  width: 100%;
  height: 100%;
  z-index: 0;
}
.obj {
  transform: translate(-50%, -50%);
  position: fixed;
  border-radius: 7px;
  cursor: pointer;
}
.arrow {
  position: fixed;
  bottom: 5vh;
  width: 18vh;
  height: 18vh;
  border-radius: 8vh;
  cursor: pointer;
  z-index: 1;
}
.left {
  right: calc(50% + 45vh);
  transform: rotate(-90deg);
}
.right {
  left: calc(50% + 45vh);
  transform: rotate(90deg);
}
/* #endregion */

/* 나중에 지울것 */
/* .obj {
  border: 1px solid gold;
} */
